html {
  overflow-x: hidden;
}
body{
  overflow-x: hidden;
  background-image: url("./assets/meshBackground.svg");
  background-color: #fafafa;
  background-position: 100% 0%;
  background-size: contain;
  background-repeat: repeat-y;

}